<script type="text/javascript" src="/js/jquery.qrcode.min.js"></script>

<div class="container">
	<br>
	<div class="row">
		<div class="span3">
			<div class="grey mug">
				<h3><%=h @company.company_name %></h3>
				<p><%=h @company.first_name %> <%=h @company.last_name %>, Administrator</p>
			</div>
		<br>
		<div class="btn-group">
			<a class="btn btn-primary btn-large" href="/profile/new">Create New Record</a>
		</div>
		</div>


		<div class="span9">
			<h1>Medical Profiles</h1>
			<table>
				<tr>
					<td>ID</td>
					<td>FIRST NAME&nbsp;&nbsp;</td>
					<td>LAST NAME&nbsp;&nbsp;</td>
					<td>Record Created&nbsp;&nbsp;</td>
					<td>ACTIONS</td>
				</tr>
				<% @company.profiles.each do |profile| %>
				<tr id="<%=h profile.id %>">
					<td><%=h profile.id %></td>
					<td><%=h profile.first_name %></td>
					<td><%=h profile.last_name %></td>
					<td><%=h profile.created_on.strftime(" %B %d, %Y") %></td>
					<td>
						<div class="btn-group">
							<a data-toggle="modal" rel="<%=h profile.id %>" href="#qrBadge" class="btn showBadge"><i class="icon-qrcode"></i> badge</a>
						 	<a class="btn"><i class="icon-list-alt"></i> full record</a>
						 	<a class="btn profileDestroy" href='#' rel="<%=h profile.id%>"><i class="icon-remove"></i> destroy</a>
						</div>
					</td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
	<br>
</div>

<div class="modal" id="qrBadge" style="display:none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
    	<h3>Badge</h3>
  	</div>
  	<div class="modal-body">
  		<div id="qrcode">
  		</div>
  	</div>
  	<div class="modal-footer">
    		<a id="cont" href="#" data-dismiss="modal" class="btn">Continue</a>
  	</div>
</div>
<script type="text/javascript">
	$('.profileDestroy').click(
		function(){
			var id = $(this).attr('rel').toString();
			console.log('id is ' + id);
			$.ajax({
				type: 'post',
				url: '/profile/' + id + '/destroy',
				success: function () {$('#' + id).hide(); }
			});
		});
	$('.showBadge').click(
		function() {
			var id = $(this).attr('rel');
			$('#qrcode').qrcode({width: 64, height: 64, text: "http://medcode.me/profile/" + id + "/show"});
		});
	$('.close').click(
		function() {$('#qrcode').html("")});
	$('#cont').click(
				function() {$('#qrcode').html("")});

</script>