<div class="container">
	<br>
	<div class="row">
		<div class="span3">
			<div class="grey mug">
				<h3><%=h @company.company_name %></h3>
				<p><%=h @company.first_name %> <%=h @company.last_name %>, Administrator</p>
			</div>
		<br>
		<div class="btn-group">
			<a class="btn btn-primary btn-large" href="/profile/new">Create New Record</a>
		</div>
		</div>


		<div class="span9">
			<h1>Medical Profiles</h1>
			<table>
				<tr>
					<td>ID</td>
					<td>FIRST NAME&nbsp;&nbsp;</td>
					<td>LAST NAME&nbsp;&nbsp;</td>
					<td>Record Created&nbsp;&nbsp;</td>
					<td>ACTIONS</td>
				</tr>
				<% @company.profiles.each do |profile| %>
				<tr id="<%=h profile.id %>">
					<td><%=h profile.id %></td>
					<td><%=h profile.first_name %></td>
					<td><%=h profile.last_name %></td>
					<td><%=h profile.created_on.strftime(" %B %d, %Y") %></td>
					<td>
						<div class="btn-group">
							<a class="btn"><i class="icon-qrcode"></i> badge</a>
						 	<a class="btn"><i class="icon-list-alt"></i> full record</a>
						 	<a class="btn profileDestroy" href='#' rel="<%=h profile.id%>"><i class="icon-remove"></i> destroy</a>
						</div>
					</td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
	<br>
</div>
<script type="text/javascript">
	$('.profileDestroy').click(
		function (){
			var id = $(this).attr('rel').toString();
			console.log('id is ' + id);
			$.ajax({
				type: 'post',
				url: '/profile/' + id + '/destroy',
				success: function () {$('#' + id).hide(); }
			});
		});
</script>